<div class="card shadow mb-4">
  <div class="card-header py-3">
    <a
      id="add"
      href="/bread/form"
      class="modal-open btn btn-primary btn-round"
      type="submit"
      data-placement="bottom"
      title="Tambah Data"
    >
      <i class="bx bxs-file-plus bx-tada bx-flip-horizontal"></i> Add
    </a>
    <a class="btn btn-success mx-3" id="hitung">Refresh Data</a>
  </div>
  <div class="card-body">
    <form method="get" id="form">
      <div class="row">
        <div class="col-md-4 col-6 col-sm-8">
          <input type="date" class="form-control" value="<%=date%>" name="date" id="date" min="2023-01-23" max="2023-01-24" placeholder="dd-mm-yyyy">
        </div>
        <div class="col-md-4 col-6 col-sm-4">
          <button type="submit" class="btn btn-primary">Cari</button>
        </div>
      </div>
    </form>
    <div class="mt-3">
      <table class="table table-bordered" id="dataTable" url="<%=url%>" width="100%" cellspacing="0"></table>

    </div>
  </div>
</div>

<% const toastSuccess = messages.success %> <% const toastError = messages.error %>
<script>
  $(document).ready(function () {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const date = urlParams.get('date') || '2023-01-23'
    $('#hitung').attr('href', `/rumus/hitung?date=${date}`);

    const toastSuccess = '<%= toastSuccess %>';
    const toastError = '<%= toastError %>';
    toastSuccess != '' && notification('success', toastSuccess);
    toastError != '' && notification('error', toastError);
  });
</script>
